.menu {
  width: 320px;
}

.main {
  display: flex;
  height: 100%;
  width: 1240px;
  overflow: hidden;
  margin: 0 auto;
}

.orders {
  width: 100%;
}

.informerWrapper {
  width: 100%;
  max-width: 700px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
